header {
  margin-bottom: 2rem;
}

.filter {
  margin: 0 auto;
  width: 70vw;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}

@media (width >= 800px) {
  .filter {
    width: 30vw;
  }
}

@media (width >= 1400px) {
  .filter {
    width: 20vw;
  }
}

span {
  padding: 0.2rem 0.3rem;
  border-radius: 0.3rem;
  cursor: pointer;
  transition: 0.4s;
}

span[data-active='true'] {
  background-color: black;
}
