.list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 1rem;
}

details {
  display: contents;
  &:open summary::before {
    content: url('chevron-down.svg');
    top: 3px;
  }
}

summary {
  text-align: start;
  user-select: none;
  &::before {
    content: url('chevron-up.svg');
    position: relative;
    top: 2px;
    margin-right: 0.2rem;
    transition: 0.4s;
  }
}

button,
summary {
  position: relative;
  padding: 0.5rem;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: 0;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-weight: inherit;
  cursor: pointer;
  &::after {
    content: '';
    background: hwb(0 100% 0% / 0.127);
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: 1s;
  }
  &:active::after {
    opacity: 1;
    transition: 0s;
  }
}
